.ReactDocSection {
  .mdl-typography--title {
    display: block;
    margin-bottom: 1em;
  }

  .mdl-data-table {
    white-space: inherit;
    width: 100%;

    p {
      font-size: 12px;
      margin: 0;
    }
  }
}
